node_modules
.DS_Store
dist
dist-ssr
*.local

package-lock.json

# Modified from: https://raw.githubusercontent.com/cypress-io/cypress-example-recipes/master/.gitignore
.tmp
tmp
.projects
*.orig

screenshots
videos
out.js
examples/*/cypress/logs
examples/*/cypress/downloads
snapshots.js
.nyc_output
coverage
test-data.json
examples/stubbing-spying__intercept/users5.json
db.json
