h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  text-align: center;
}

button {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding: 0.5em;
}

button:disabled {
  background-color: #ddd;
  color: #aaa;
  cursor: not-allowed;
}

form {
  align-items: center;
  display: flex;
  gap: 1em;
}

input {
  border-radius: 3px;
  font-size: 1em;
  padding: 0.5em;
}

input[type="checkbox"] {
  margin-right: 0.5em;
}

label {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

li {
  margin: 1em 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.button-add {
  background-color: #4caf50;
}

.button-add::after {
  content: "\00a0➕";
}

.button-del,
.button-edit {
  margin-left: 0.5em;
}

.button-del {
  background-color: #f44336;
  color: white;
  padding: 0.25em;
}

.button-del::after {
  content: "\00a0✖";
}

.button-edit {
  background-color: #2196f3;
  color: white;
  padding: 0.25em;
}

.button-edit::after {
  content: "\00a0✎";
}

.completed {
  text-decoration: line-through;
}
