.spoiler-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #F8F9FA;
    border: 1px solid #E9ECEF;
}

.spoiler-container p {
    margin: 10px 0;
    line-height: 1.5;
}

.spoiler-button {
    background-color: #DC3545;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 10px 0;
}

.spoiler-button.spoiler-button-visible {
    background-color: #054E18;
}

.spoiler-text {
    padding: 15px;
    background-color: #BDD9E2;
    border: 1px solid #BDD9E2;
    border-radius: 4px;
    font-weight: bold;
    color: #000;
}